*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
header > a{
    width: 30%;
}
header img{
    width: 100%;
}
header p{
    padding: 10px;
}
header nav{
    display: flex;
}
header ul{
    list-style: none;
    display: flex;
}
.button-13 {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100px;
}

.button-13:hover {
    background-color: #f7fafa;
}

.button-13:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}
.deco{
    background-color: brown;
    color: white;
}

.deco:hover{
    color: brown;
}

main{
    padding: 10px 20px;
}
aside ul{
    padding: 15px;
    font-size: 18px;
}
.partenaire_flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}
.partenaire{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.miniature{
    height: 380px;
    margin-top: 10px;
    padding: 10px 15px;
    border: 1px gray solid;
    border-radius: 10px;
}
.miniature img{
    width: 90%;
    align-self: center;
}
.miniature h3{
    font-size: 20px;
}
.miniature_info{
    display: flex;
    flex-direction: column;
}
.miniature_info a{
    align-self: flex-end;
    text-decoration: none;
    margin-top: 10px;
    padding: 5px;
    border: 1px black solid;
    border-radius: 10px;
    color: brown;
}
.miniature_info a:hover{
    background-color: brown;
    color: white;
}
.full{
    padding-top: 15px;
}
.full h2{
    padding: 15px 0;
}
.comment{
    padding: 10px;
    border: 1px black solid;
    border-radius: 15px;
}
.comment h2{
    padding-bottom: 10px;
}
.comment_flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comment_content{
    width: 90%;
    padding: 5px 10px;
    border: 1px gray solid;
    border-radius: 15px;
}
.comment_form{
    display: flex;
    justify-content: space-around;
}
form{
    padding-top: 15px;
}
form input, form button{
    border-radius: 5px;
    border: 1px black solid;
    padding: 5px;
}
footer{
    padding: 10px 0;
    background-color: rgb(233, 32, 32);
    color: white;
    text-align: center;
}

@media screen and (min-width: 576px) {
    header{
        flex-direction: row;
        justify-content: space-around;
    }
    header p{
        font-size: 20px;
    }
    header > a{
        width: 15%;
    }
    main{
        padding: 20px 30px;
    }
    .miniature{
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;
        height: 180px;
    }
    .miniature img{
        width: 35%;
    }
    .miniature_info{
        width: 60%;
    }
    .miniature_info h3{
        height: 70%;
    }
}
@media screen and (min-width: 1024px) {
    header p{
        font-size: 20px;
        align-self: flex-start;
    }
    header > a{
        width: 10%;
    }
    main{
        padding: 30px 40px;
    }
    .miniature{
        height: 220px;
    }
}

